body {
    background-color: #eee;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: #d1d1d1;
    border-radius: 10px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
.navbar > li {
    display: inline;
}

.navbar > li > a {
    border-radius: 10px;
    display: block;
    padding: 12px;
    
    text-decoration: none;
    font-variant: small-caps;
    color: #666;
    font-size: 19px;

    /*font-family: "Monospace", "Lucida Console";*/
}

.navbar > li > a:hover {
    transition: background-color 0.5s ease;
    background-color: #bbb;
}

.left {
    float: left;
}
.right {
    float: right;
}

.active {
    background-color: #bbb;
}

.right > .dropdown-content {
    right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;

    font-variant: small-caps;
    color: #666;
    font-size: 17px;
    text-align: center;
}

.print {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    font-variant: small-caps;
    color: #666;
    font-size: 17px;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #bbb;
    transition: background-color 0.5s ease;
}

.dropdown.left:hover .dropdown-content {
    display: block;
}


.adminprofile a{
    text-decoration: none;
    color: black;
    font-size:medium;
    background-color: #aaa;
    border-radius: 4px;
    padding: 10px;
}

button {
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: auto;
    width:100%;
}

.cancella {
    background-color: red !important;
}

input[type=text]:not(.errorinput), input[type=date], input[type=password]:not(.errorinput), input[type=number]:not(.errorinput), input[type=email]:not(.errorinput) {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.errorinput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    
    display: inline-block;
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;

}

#modeselector, #salselector {
    margin-top: 10px;
}

.filseldiv {
    margin: 10px auto;
    width: 70%;
}

.logindiv {
    margin: 10% auto;
    width: 60%;
    background: #bbb;
    box-shadow: 5px 5px 2px 1px #333333;
    padding: 20px;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 8px 10px;


    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=button] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;

    max-width: 700px;
    width: 70%;
    
    color: white;
    padding: 14px 20px;
    
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:not(.rdb),input[type=button]:not(.rdb) {
    background-color: #4CAF50;
}

input[type=submit]:disabled,input[type=button]:disabled {
    background-color: gray;
    
    
    align-content: center;
    /*align: center;*/

}

.formdiv {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

input[type=submit]:hover:not(:disabled):not(.rdb),input[type=button]:hover:not(:disabled):not(.rdb) {
    background-color: #45a049;
}

.error {
    color: red;
}

table {
    margin: auto;
}

.ltable {
    border-spacing: 1px;
    border-collapse: separate;
    margin: auto;
    margin-top: 50px;
    
}

.ltable th, .ltable td:not(.ext), .ltable tr {
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.ext button {
    margin: 0px;
    padding: 10px 5px;
    border-radius: 4px;
}

.dispari {
    background-color: #d1d1d1;
}

.pari {
    background-color: #bbb;
}

.dispari, .pari {
    cursor: pointer;
}

.title {
    background-color: #444;
    color: #eee;
    font-weight: bold;
}

.clickable:hover, .clickable:hover td {
    background-color: #444;
    color: #eee;
    transition: background-color 0.5s ease;
}

.inline-block-item {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 5px 10px 6px 12px;
    background-color: #bbb;
    border-radius: 10px;
    box-shadow: 8px 8px 6px #888888;
    cursor: pointer;
}

.inline-block-item div {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:#555;
    
}

.inline-block-item:hover {
    background-color: #999;
    transition: background-color 0.5s ease;
}

.profiletable {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
   
}

.profiletable .usertype {
    font-size: 20px;
    color: #999;
}

.info {
    font-size: 20px;
}

.bg {
    display: none;
    background-color: rgba(0,0,0,0.5);
    top:0;
    left:0;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.bg form {
    background-color: white;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.info {
    padding-top: 10px;
}